
body {
    width: 640px;
    height: 788px;
    border: 1px dotted red;
    
}
.learning {
    width: 100vw;
}

.learning-container {
    display: flex;
    width: 100vw;
    gap: 20px;
    flex-wrap: wrap;
   
}


.learning-image img{
    width: 30vw;
    height: auto;
    
}

.learning-content {
    width: 70vh;
}
@media screen (min-width:640px) {
    body {
       
    }
}
